fastapi==0.127.0
fastapi-cli==0.0.20
fastapi-cloud-cli==0.7.0
Jinja2==3.1.6
mutagen==1.47.0
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
python-dateutil==2.9.0.post0
python-multipart==0.0.21
pytubefix==9.4.1
requests==2.32.3
typing_extensions==4.14.1
uvicorn==0.40.0

