
python-multipart==0.0.21
requests==2.32.3
fastapi==0.127.0
fastapi-cli==0.0.20
fastapi-cloud-cli==0.7.0
ffmpeg-python==0.2.0
gunicorn==23.0.0
Jinja2==3.1.6
mutagen==1.47.0
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
pytubefix==9.4.1
requests==2.32.3
uvicorn==0.40.0
tqdm==4.68.2
rich==13.9.4