/* ===== ESCALADO GLOBAL ===== */
.scale-app {
    transform: scale(0.8);
    transform-origin: top center;
    width: 125%; /* compensa el scale */
}

/* ===== BASE ===== */
body {
    background-color: #1D1D1D;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* ===== HEADER ===== */
header {
    background-color: #181818;
    border-bottom: 2px solid #656565;
    padding: 10px 20px;
    font-weight: bold;
    user-select: none;
}

.header-content {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

#header-text {
    margin: 0;
    color: #FFFFFF;
}

#logo-icon {
    font-size: 20.47px;
    color: #35E6D2;
}

/* ===== TEXTOS ===== */
#text-centro {
    color: #35E6D2;
    font-size: 34.38px;
}

#text-instrucciones {
    color: #35E6D2;
    font-size: 20.32px;
}

/* ===== INPUTS ===== */
.custom-input {
    background-color: #2B2B2B;
    border: 3.76px solid #5C5F5E;
    color: #CAD0CE;
    font-size: 12.95px;
}

.custom-input::placeholder {
    color: #aaa;
}

.custom-select {
    background-color: #1D1D1D;
    border: 3.76px solid #5C5F5E;
    color: #CAD0CE;
    font-size: 12.95px;
}

/* ===== CALIDADES ===== */
#calidades {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin: 10px;
}

.quality-btn {
    background-color: #2B2B2B;
    border: 2.15px solid #7F8381;
    color: #CAD0CE;
    width: 99.75px;
    height: 80.57px;
    font-size: 13.99px;
    margin: 20px 0;
}

.quality-btn:hover {
    border-color: #444;
}

/* ===== BOTÓN CONVERTIR ===== */
.convert-btn {
    background-color: #1D1D1D;
    border: 3.76px solid #444;
    color: #FFFFFF;
    font-size: 12.95px;
    width: 735px;
    margin: 18px;
}

.convert-btn:hover {
    background-color: #444;
    color: #ffffff;
}

/* ===== SECCIONES TEXTO ===== */
.instructions,
.informacion,
.por-que-uso {
    font-size: 15.28px;
    padding-left: 269px;
    padding-right: 269px;
}

/* ===== FOOTER ===== */
footer {
    text-align: left;
    color: #888;
}

.footer-text {
    padding-left: 269px;
    padding-right: 269px;
}

/* ===== EXTRAS ===== */
#pequeña-linea {
    margin: 20px auto;
    width: 320px;
}

#tumbnail {
    border: 2.76px solid #00c4cc;
    border-radius: 3.76px;
    margin-bottom: 15px;
}

#titulo-yt {
    color: #35E6D2;
    font-size: 16.28px;
}

#nombre-canal {
    color: #CAD0CE;
    font-size: 16.28px;
}

/* ===== BOTONES DESCARGA ===== */
.descargar-btn,
.convertir-otro-btn {
    background-color: #1D1D1D;
    border: 3.76px solid #444;
    color: #FFFFFF;
    font-size: 12.95px;
    width: 230px;
}

.descargar-btn:hover,
.convertir-otro-btn:hover {
    background-color: #444;
    color: #ffffff;
}

/* ===== OPCIONES ===== */
.opciones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}
