body {
            background-color: #1D1D1D;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
        }

        header {
            background-color: #181818;
            border-bottom: 2px solid #656565;
            padding: 10px 20px;
            font-weight: bold;
            user-select: none;
        }

        .header-content{
            display: flex;
            align-items: flex-start;
            gap: 10px;
        }

        #header-text{
            margin: 0; /* Quita márgenes por defecto del h5 */
            color: #FFFF;
        }
        #logo-icon{
            font-size: 20.47px;
            color: #35E6D2;
        }

        #text-centro{
            color: #35E6D2;
            font-size: 34.38px;
        }

        #text-instrucciones{
            
            color: #35E6D2;
            font-size: 20.32px;
        }


        .custom-input{
            background-color: #2B2B2B;
            border: 3.76px solid #5C5F5E;
            color: #CAD0CE;
            font-size: 16.95px;
            
        }

        .custom-select{
            background-color: #1D1D1D;
            border: 3.76px solid #5C5F5E;
            color: #CAD0CE;
            font-size: 16.95px;
        }


        .custom-input::placeholder {
            color: #aaa;
        }

        .quality-btn {
            background-color: #2B2B2B;
            border: 2.15px solid #7F8381;
            color: #CAD0CE;
            width: 99.75px;
            height: 80.57px;
            font-size: 16.99px;
        }

        

        .quality-btn:hover {
            border-color: #444;
        }

        .convert-btn {
            background-color: #1D1D1D;
            border: 3.76px solid #444;
            color: #FFFFFF;;
            font-size: 16.95px;
            width: 735px;
        }

        .convert-btn:hover {
            background-color: #444;
            color: #ffffff;
        }

        .instructions {
            font-size: 15.28px;
            padding-left: 269px;
            padding-right: 269px;
        }

        .informacion {
            font-size: 15.28px;
            padding-left: 269px;
            padding-right: 269px;
        }
        .por-que-uso {
            font-size: 15.28px;
            padding-left: 269px;
            padding-right: 269px;
        }

        footer {
            text-align:left;
            color: #888;
        }

        .footer-text{
            padding-left: 269px;
            
            padding-right: 269px;
        }

        #pequeña-linea{
            margin: 20px auto; /* la centra */
            width: 320px;
        }
        


        #tumbnail{
            
            border: 2.76px solid #00c4cc;
            border-radius: 3.76px;
            margin-bottom: 15px;
        }
        #titulo-yt{
            color: #35E6D2;
            font-size: 19.28px;
        }
        #nombre-canal{
            color: #CAD0CE;
            font-size: 19.28px;
        }

        .descargar-btn {
            background-color: #1D1D1D;
            border: 3.76px solid #444;
            color: #FFFFFF;;
            font-size: 16.95px;
            width: 200px;
        }
        
        .descargar-btn:hover {
            background-color: #444;
            color: #ffffff;
        }
        
        .convertir-otro-btn {
            background-color: #1D1D1D;
            border: 3.76px solid #444;
            color: #FFFFFF;;
            font-size: 16.95px;
            width: 200px;
        }
        
        .convertir-otro-btn:hover {
            background-color: #444;
            color: #ffffff;
        }

        .opciones{
            display: flex;
            align-items:center;
            justify-content: center;
            gap: 10px;
        }